@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	background: url(../img/img.jpeg) no-repeat center center fixed;
	background-size: cover;
}
.main-section {
	margin: 0 auto;
	margin-top: 130px;
	padding: 0;
}
.modal-content {
    background-color: steelblue;
	opacity: .8;
	padding: 0 18px;
	border-radius: 10px;
}

.form-group {
	margin-bottom: 25px;
}
.form-group input {
	height: 42px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
	padding-left: 54px;
}

.modal-content button {
	width: 40%;
	margin: 5px 0 25px;
}
.btn-success {
	background-color: #1c6288;
	font-size: 19px;
	border-radius: 5px;
	padding: 7px 14px;
	border: 1px solid #daf1ff;
}
.btn-success:hover {
	background-color: #13445e;
	border: 1px solid #daf1ff;
}
label{
    font-size: 19px;
    font-style: oblique;
    color: white;
}



























